/*Specifically for the navigation bar*/

/*For top header area of page with logo*/
.navbar {
    background-color: #333; /* Set your desired background color */
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Fix the navbar at the top of the screen */
    top: 0;
    left: 0;
    width: 100%; /* Ensures the navbar spans the full width */
    z-index: 1000; /* Makes sure it stays on top of other content */
  }

  .home  {
    height: 1.5rem; /* Adjust height as needed */
    width: 1.5rem; /* Maintain aspect ratio */
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
  }
  
  nav a:hover {
    color: #00b118;
  }
  

@media screen and (max-width:720px) {
    .navbar {
        font-size: 2vw;
    }
}
