/*Specifically for the navigation bar*/

/*For top header area of page*/
html body .navbar {
  background-color: #333; 
  color: white;
  padding: 1rem ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
  box-sizing: border-box; 
}

    /*For the home image in navigation*/
  .home  {
    height: 1.5rem; 
    width: 1.5rem; 
  }
  
  /*represented by the link components in the navbar class*/
  nav a {
    color: white;
    font-size: 1rem;
    text-decoration: none;
    margin: 0 1rem;
  }
  
  nav a:hover {
    color: #00b118;
  }
  

@media screen and (max-width:720px) {
    .navbar {
        font-size: 2vw;
        flex-direction: column;
        align-items: flex-start;
    }

    nav a {
        margin: 0;
    }
}
